[Unit]
Description=Labbot server
Requires=multi-user.target

[Service]
Type=simple
ExecStart=/home/meson800/labbot/server/env/bin/python -m labbot
WorkingDirectory=/home/meson800/labbot/server
User=meson800
Group=meson800

[Install]
WantedBy=multi-user.target