[Unit]
Description=Labbot server
Requires=multi-user.target

[Service]
Type=simple
ExecStart=/home/labbot/labbot/server/env/bin/python -m labbot
WorkingDirectory=/home/labbot/labbot/server
User=labbot
Group=labbot

[Install]
WantedBy=multi-user.target
